/*-----------------------
General
-------------------------*/
body {
	color: #333;
	font-size: 1.125rem;
	font-family: 'ProximaNova-Light', Arial, sans-serif;
	background-color: #2d2d2e;
}
@media (max-width: 767.98px) {
	body {
		padding-top: 56px;
	}
}
html,
main,
header,
section,
footer {
	position: relative;
}
/*body.overflow-hidden,
html.overflow-hidden {
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}*/
a {
	color: #ec7f80;
	text-decoration: underline;
	/*outline: none;*/
}
a:hover {
	color: #5878af;
	text-decoration: none;
}
.no-underline,
.btn {
	text-decoration: none;
}
.btn:focus,
.btn:hover {
	text-decoration: none;	
}
p,
ol,
ul,
dl {
	margin-bottom: 1.25rem;
}


/*-----------------------
Colors
-------------------------*/
.text-primary {
	color: #5878af !important;
}
a.text-primary:focus,
a.text-primary:hover {
	color: #5878af !important;
}
.text-secondary {
	color: #ec7f80 !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
	color: #ec7f80 !important;
}
.text-regular {
	color: #333 !important;
}
a.text-regular:focus,
a.text-regular:hover {
	color: #333 !important;
}
.text-black {
	color: #000 !important;
}
a.text-black:hover,
a.text-black:focus {
	color: #000 !important;
}

.bg-primary {
	color: #fff;
	background-color: #5878af !important;
}
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
	background-color: #5878af !important;
}
.bg-secondary {
	color: #fff;
	background-color: #ec7f80 !important;
}
a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
	background-color: #ec7f80 !important;
}
.bg-secondary-dark {
	color: #fff;
	background-color: #d37071 !important;
}
a.bg-secondary-dark:hover, a.bg-secondary:focus,
button.bg-secondary-dark:hover,
button.bg-secondary-dark:focus {
	background-color: #d37071 !important;
}

.fill-primary {
	fill: #5878af !important;
}
.fill-secondary {
	fill: #ec7f80 !important;
}
.fill-white {
	fill: #fff !important;
}

.border-primary {
	border-color: #5878af !important;
}


/*-----------------------
H1, H2
-------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-bottom: 1.25rem;
	font-weight: inherit;
}


/*-----------------------
Wrapper Content
-------------------------*/
.wrapper-content {
	z-index: 3;
}


/*-----------------------
Logo
-------------------------*/
.navbar-brand {
	width: 68px;
	height: 38px;
	padding-top: 0;
  	padding-bottom: 0;
  	margin-right: 0;
	overflow: hidden;
}
.navbar-brand .brand-holder {
	display: block;
	height: 100%;
	text-indent: -999em;
	text-transform: uppercase;
	background-image: url("../img/company-logo.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.footer-content .navbar-brand .brand-holder {
	background-image: url("../img/company-logo-reversed.png");
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.navbar-brand {
		width: 109px;
		height: 61px;
	}
}


/*-----------------------
Header Navbar Content
-------------------------*/
.header-navbar-content {
	color: #000;
	background-color: #fff;
	-webkit-box-shadow: 0 0 2px 3px rgba(0,0,0,0.05);
	box-shadow: 0 0 2px 3px rgba(0,0,0,0.05);
	z-index: 1030;
}
.header-navbar-content .title-order {
	font-size: 1rem;
	line-height: 1;
}
.header-navbar-content .title-order .txt-call {
	font-size: 1.25rem;	
}
.header-navbar-content .title-order .txt-program {
	font-size: 0.625rem;
}
@media (max-width: 991.98px) {
	.header-navbar-content {
		height: 56px;
		-webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
        box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}
@media (max-width: 767.98px) {
	.header-navbar-content {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}
}
@media (min-width: 992px) {
	.header-navbar-content {
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
	}
	.header-navbar-content .title-order .txt-call {
		font-size: 1.813rem;
	}
	.header-navbar-content .title-order .txt-program {
		font-size: 0.75rem;
	}
}


/*-----------------------
Main nav
-------------------------*/
.navbar-main {
	padding: 0;
	background-color: #f3f3f3;
}
.navbar-main .navbar-nav .nav-item {
	border-bottom: 1px solid rgb(0,0,0,0.1);
}
.navbar-main .navbar-nav .nav-link {
	padding: 1.25rem 1rem;
	color: #000;
	font-size: 1.25rem;
	text-decoration: none;
	position: relative;
}
.navbar-main .navbar-nav .nav-link:hover, 
.navbar-main .navbar-nav .nav-link:focus {
    color: #000;
	text-decoration: none;
}
.navbar-main .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}
.navbar-main .navbar-nav .show > .nav-link,
.navbar-main .navbar-nav .active > .nav-link,
.navbar-main .navbar-nav .nav-link.show,
.navbar-main .navbar-nav .nav-link.active {
    color: #ec7f80;
}
@media (max-width: 991.98px) {
	.navbar-main {		
		position: fixed;		
		bottom: 0;
		left: 0;
		width: 360px;
		height: calc(100% - 56px);
        /*background-image: url("../img/navbar-nav-mobile-bg.png");
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100%;*/
		-webkit-transform: translateX(-360px);		
		transform: translateX(-360px);
		-webkit-transition: all 0.5s ease-in-out;		
		transition: all 0.5s ease-in-out;
	}
	.navbar-main .container,
	.navbar-main .container-fluid {
		height: 100%;
		pointer-events: auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.navbar-main .navbar-collapse {
		/*height: 100%;*/
		-webkit-transition: all 0.35s ease-in-out;		
		transition: all 0.35s ease-in-out;		
		-webkit-transform: translateY(0);
    	transform: translateY(0);
		pointer-events: auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.navbar-main .navbar-collapse.collapsing {
  		height: auto;  
  		transition: height 0s ease;
	}
	
	.navbar-open .navbar-main {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	.navbar-open .navbar-main .navbar-collapse {
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
		pointer-events: auto;
		visibility: visible;
		opacity: 1;
	}
	
	.navbar-main .nav-link {
		text-align: center;
	}
	.navbar-main .navbar-nav {
		padding-bottom: 7rem;
	}
}
@media (max-width: 575.98px) {
	.navbar-main {
		width: 100%;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@media (min-width: 992px) {
	.navbar-main {
		background-color: transparent;
	}
	/*.navbar-main .navbar-nav .nav-link {
		padding: 0.5rem 1rem;
		color: rgba(0, 0, 0, 0.5);
	}
    .navbar-main .navbar-nav .nav-link:hover, 
	.navbar-main .navbar-nav .nav-link:focus {
    	color: rgba(0, 0, 0, 0.7);
    }
    .navbar-main .navbar-nav .nav-link.disabled {
    	color: rgba(0, 0, 0, 0.3);
    }*/
	.navbar-main .navbar-nav .nav-item {
		border-bottom: 0;
	}
	.navbar-main .navbar-nav .nav-item:not(:last-child) {
		padding-right: 5rem;
	}
	.navbar-main .navbar-nav .nav-link {
		padding: 0.5rem 0.5rem;		
	}
	.navbar-main .navbar-nav .show > .nav-link,
    .navbar-main .navbar-nav .active > .nav-link,
    .navbar-main .navbar-nav .nav-link.show,
    .navbar-main .navbar-nav .nav-link.active {
    	color: #000;
    }	
    .navbar-main .navbar-nav .nav-link::before {
        position: absolute;
        display: block;        
        left: 0;
		right: 0;
        bottom: 0;
        height: 3px;
        background-color: transparent;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.15s cubic-bezier(0, .5, .5, 1);
        transition: all 0.15s cubic-bezier(0, .5, .5, 1);
        content: "";
    }
    .navbar-main .navbar-nav .nav-link:hover::before,
    .navbar-main .navbar-nav .nav-link:focus::before,	
    .navbar-main .navbar-nav .show > .nav-link::before,
    .navbar-main .navbar-nav .active > .nav-link::before,
    .navbar-main .navbar-nav .nav-link.show::before,
    .navbar-main .navbar-nav .nav-link.active::before {
        background-color: #ec7f80;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
	

/*-----------------------
Navbar Toggle
-------------------------*/
.navbar-toggler {
    /*border: 1px solid transparent;
    border-radius: 0.25rem;*/
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
	padding: 0.5rem 1rem 0.5rem 0;
	width: calc(30px + 1rem);
	height: calc(38px + 0.5rem + 0.5rem);
	border-width: 0 1px 0 0;
	border-right-color: #ccc;
	border-radius: 0;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: .15s;
    transition-timing-function: linear;	
	position: relative;
}
.navbar-toggler-body {
	display: block;
    width: 100%;
    height: 16px;
	position: relative;
}
.navbar-toggler-icon {		
	background-image: none !important;
    display: block;
    top: 50%;    
}
.navbar-toggler-icon,
.navbar-toggler-icon::after,
.navbar-toggler-icon::before {
	position: absolute;	
    width: 100%;
    height: 2px;
    background-color: #666;        
    transition-property: transform, -webkit-transform;
    transition-duration: .15s;
    transition-timing-function: ease;
	border-radius: 0.25rem;
}
.navbar-toggler-icon::after,
.navbar-toggler-icon::before { 
 	display: block;
	content: "";
}
.navbar-toggler-icon::before {
	top: -8px;
}
.navbar-toggler-icon::after {
	bottom: -8px;
}
.navbar-toggler.open .navbar-toggler-icon {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
}
.navbar-toggler.open .navbar-toggler-icon::before {
	transition: top .1s ease-in .34s, opacity .1s ease-in;
}
.navbar-toggler.open .navbar-toggler-icon::after {
	transition: bottom .1s ease-in .34s, transform .3s cubic-bezier(.55,.055,.675,.19), -webkit-transform .3s cubic-bezier(.55,.055,.675,.19);
}
.navbar-open .navbar-toggler.open .navbar-toggler-icon {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    transition-delay: .14s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
.navbar-open .navbar-toggler.open .navbar-toggler-icon::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease-out, opacity .1s ease-out .14s;
}
.navbar-open .navbar-toggler.open .navbar-toggler-icon::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom .1s ease-out, transform .3s cubic-bezier(.215,.61,.355,1) .14s, -webkit-transform .3s cubic-bezier(.215,.61,.355,1) .14s;
}
.navbar-toggler-body:hover .navbar-toggler-icon,
.navbar-toggler-body:hover .navbar-toggler-icon::after,
.navbar-toggler-body:hover .navbar-toggler-icon::before,
.navbar-toggler.open .navbar-toggler-icon,
.navbar-toggler.open .navbar-toggler-icon::after,
.navbar-toggler.open .navbar-toggler-icon::before {
	background-color: #000;
}


/*-----------------------
Header: Pages Content
-------------------------*/
.header-pages-content {
	color: #000;	
	background-color: #f6f6f6;
    background-repeat: no-repeat;
}
.header-pages-content:not(.home) {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.header-pages-content .hpc-title-primary {
	font-size: 2.125rem;
}
.header-pages-content .hpc-title-secondary {
	font-size: 1rem;
	line-height: 1.4;
}
.header-pages-content.home {	
	background-image: url("../img/hpc-home-mobile-bg.jpg");
	background-position: 50% -60px;
}
.header-pages-content.speed-test {	
	background-image: url("../img/hpc-speed-test-mobile-bg.jpg");
	background-position: 100% 0px;
}
@media (max-width: 575.98px) {
	.header-pages-content .hpc-header {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		position: relative;
	}
    .header-pages-content .hpc-header::after {
		position: absolute;
		display: block;
		pointer-events: none;
        top: 100%;
        left: 60px;
		height: 0;
        width: 0;
        border: solid transparent;
        border-color: rgba(246, 246, 246, 0);
        border-top-color: #f6f6f6;
        border-width: 12px;
        margin-left: -12px;
		content: "";
    }
	.header-pages-content .hpc-form-body {
		margin-left: -15px;
		margin-right: -15px;
		padding: 1.25rem 15px;		
		background-color: #d5e2f8;		
	}		
}
@media (min-width: 576px) {
	.header-pages-content {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	.header-pages-content.home {
		background-image: url("../img/hpc-home-bg.jpg");
		background-position: 59% 0;
		background-color: #fafafa;
	}
	.header-pages-content.speed-test {
		background-image: url("../img/hpc-speed-test-bg.jpg");
		background-position: 50% 40%;
		background-color: #f3f3f3;
	}
	.header-pages-content .hpc-title-primary {
        font-size: 2rem;		
    }
	.header-pages-content .hpc-title-secondary {
		font-size: 1.125rem;
	}
}
@media (min-width: 768px) {
	.header-pages-content {
		min-height: 540px;		
	}
	.header-pages-content.home {
		background-position: 62% 0;
	}
	.header-pages-content.speed-test {
		background-position: 50% 50%;
	}
	.header-pages-content .hpc-title-primary {
        font-size: 2.375rem;		
    }
    .header-pages-content .hpc-title-secondary {
        font-size: 1.125rem;
		line-height: 1.4;
    }
}
@media (min-width: 992px) {
	.header-pages-content {
		min-height: 580px;		
	}
	.header-pages-content.home {
		background-position: 55% 0;
	}
	.header-pages-content.speed-test {
		background-position: 50% 50%;
	}
	.header-pages-content .hpc-title-primary {
        font-size: 3rem;		
    }
    .header-pages-content .hpc-title-secondary {
        font-size: 1.375rem;	
    }
}
@media (min-width: 1200px) {
	.header-pages-content {
		min-height: 620px;		
	}
	.header-pages-content.home {		
		background-position: 50% 0;
	}
	.header-pages-content.speed-test {		
		background-position: 50% 50%;
	}
	.header-pages-content .hpc-title-primary {
        font-size: 3.438rem;
		line-height: 1.2;
    }
	.header-pages-content .hpc-title-secondary {
        font-size: 1.5rem;
    }
}


/*-----------------------
Main Content
-------------------------*/
.main-content {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-color: #fff;
}
.main-content[class*="bg-img-"] {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.main-content.bg-gray {
	background-color: #fafafa;
}
.bg-dark {
	background-color: #2c2e2e;
}
.main-content .mc-icon-phone-1 {
	margin-top: calc(-2.5rem - 28px);
	font-size: 1.25rem;
}
.main-content .mc-icon-phone-1 .icon-inner {
	width: 56px;
    height: 56px;
}
.main-content .mc-icon-phone-1 .icon-inner .icon {
	width: 38px;
    height: 38px; 
	border: 1px solid #fff;
}
.main-content .mc-icon-phone-1 .icon-inner .icon .fa-svg {
	fill: #fff;
}
.main-content .mt-list-1 {
	margin-top: calc(-2.5rem - 40px);
}
@media (min-width: 576px) {	
	.main-content {
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;
	}
	.main-content .mt-list-1 {
		margin-top: calc(-3.75rem - 36px);
	}
	.main-content .mc-icon-phone-1 {
		margin-top: calc(-3.75rem - 28px);	
	}
}
@media (min-width: 768px) {
	.main-content {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.main-content .mt-list-1 {
		margin-top: calc(-4rem - 60px);
	}
}
@media (min-width: 992px) {
	.main-content {
		padding-top: 4.25rem;
		padding-bottom: 4.25rem;
	}
	.main-content.bg-img-1 {
        background-image: url("../img/mc-bg-img-1.jpg");        
    }
	.main-content.bg-img-2 {
        background-image: url("../img/mc-bg-img-2.jpg");        
    }
	.main-content.bg-img-3 {
        background-image: url("../img/mc-bg-img-3.jpg");        
    }
	.main-content.bg-img-4 {
        background-image: url("../img/mc-bg-img-4.jpg");        
    }
	.main-content .mt-list-1 {
		margin-top: calc(-4.25rem - 60px);
	}
	.main-content .mc-icon-phone-1 {
		margin-top: calc(-4.25rem - 28px);	
	}
}
@media (min-width: 1200px) {
	.main-content {
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}
	.main-content .mt-list-1 {
		margin-top: calc(-4.5rem - 80px);
	}
	.main-content .mc-icon-phone-1 {
		margin-top: calc(-4.5rem - 34px);
		font-size: 1.5rem;
	}
	.main-content .mc-icon-phone-1 .icon-inner {
        width: 68px;
        height: 68px;
    }
    .main-content .mc-icon-phone-1 .icon-inner .icon {
        width: 46px;
        height: 46px;        
    }
}


/*-----------------------
Widget 1
-------------------------*/
.widget-1 .widget-badge {
	width: 50px;
	height: 50px;
}


/*-----------------------
Owl Carousel 1
-------------------------*/
.owl-carousel-1 {
	position: relative;
}
.owl-carousel-1 .owl-slide-item {
	height: 90px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.owl-carousel-1 .owl-slide-item .img-holder {
	width: auto;
	max-width: 130px;
	height: auto;
	max-height: 60px;
}
.owl-carousel-1 .owl-item {
	/*margin-bottom: 1rem;*/
	background-color: transparent;
	border: 1px solid #e0e5ed;
	border-radius: 0.25rem;
}


/*-----------------------
Accordion: 1
-------------------------*/
.accordion-1 .title-accordion {
	font-size: 1.125rem;
}
.accordion-1 .link-accordion {
	display: block;
	padding: 1rem 1.5rem 1rem 0;
	color: inherit;
	text-decoration: none;
	position: relative;
}
.accordion-1 .link-accordion:hover,
.accordion-1 .link-accordion:focus {
	text-decoration: none;
}
.accordion-1 .link-accordion::after {
	position: absolute;
	display: block;
	top: calc(50% - 0.5rem);
	right: 0;
	width: 1rem;
	height: 1rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(88, 120, 175)' viewBox='0 0 16 9'%3e%3cpath d='M9.328,8.713 C11.461,6.394 13.593,4.075 15.725,1.755 C16.602,0.800 15.177,-0.623 14.296,0.335 C12.398,2.399 10.502,4.463 8.603,6.527 C6.641,4.453 4.675,2.379 2.711,0.304 C1.817,-0.641 0.390,0.783 1.283,1.725 C3.488,4.054 5.694,6.384 7.899,8.713 C8.266,9.099 8.966,9.109 9.328,8.713 Z'/%3e%3c/svg%3e");
	background-position: 50% 50%;
	background-size: 16px 9px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	content: "";
}
.accordion-1 .link-accordion[aria-expanded="true"]::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.accordion-1 > .card {
	background-color: transparent;
	border-width: 1px 0 0 0;
	border-radius: 0;
}
.accordion-1 > .card:first-of-type {
  border-top: 0;  
}
.accordion-1 > .card > .card-header {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
.accordion-1 > .card > [role="tabpanel"] > .card-body {
	padding-left: 0;
	padding-right: 0;
}


/*-----------------------
Image: Hover Animation 
-------------------------*/
.img-anim-hover {
	display: block;
	position: relative;
}
.img-anim-hover::before,
.img-anim-hover::after {
    position: absolute;
    display: block;	
    left: 0;
	width: 100%;	
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
	content: "";
}
.img-anim-hover::before {
	top: 0;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.img-anim-hover::after {	
}
.img-anim-hover:hover::before, 
.img-anim-hover:hover::after {
    opacity: 1;
    visibility: visible;
}


/*-----------------------
List Icons 1
-------------------------*/
.list-icons-1 {
	list-style: none;
	padding-left: 0;
}
.list-icons-1 .list-item {
	font-size: 2.25rem;
}
.list-icons-1 .list-icon-inner {
	width: 110px;
    height: 110px;
    font-size: 2rem;
}
.list-icons-1 .list-icon-inner .list-icon {
	width: 76px;
	height: 76px;
	border: 2px solid #fff;
}
.list-icons-1 .list-icon .fa-svg {
	fill: #fff;
}
@media (min-width: 576px) {
	.list-icons-1 .list-item {
        font-size: 2.375rem;
    }
    .list-icons-1 .list-icon-inner {
        width: 110px;
        height: 110px;
        font-size: 2.5rem;
    }
    .list-icons-1 .list-icon-inner .list-icon {
        width: 78px;
        height: 78px;
    }
}
@media (min-width: 768px) {
	.list-icons-1 .list-item {
        font-size: 2.875rem;
    }
    .list-icons-1 .list-icon-inner {
        width: 140px;
        height: 140px;
        font-size: 3.125rem;
    }
    .list-icons-1 .list-icon-inner .list-icon {
        width: 96px;
        height: 96px;
		border-width: 3px;
    }
}
@media (min-width: 992px) {
	.list-icons-1 .list-item {
        font-size: 3.75rem;
    }
    .list-icons-1 .list-icon-inner {
        width: 174px;
        height: 174px;
        font-size: 4rem;
    }
    .list-icons-1 .list-icon-inner .list-icon {
        width: 122px;
        height: 122px;
    }
}
@media (min-width: 1200px) {
	.list-icons-1 .list-item {
        font-size: 4.375rem;
    }
    .list-icons-1 .list-icon-inner {
        width: 206px;
        height: 206px;
        font-size: 4.625rem;
    }
    .list-icons-1 .list-icon-inner .list-icon {
        width: 144px;
        height: 144px;
    }
}


/*-----------------------
List's
-------------------------*/
.list-content-1 {
	list-style: none;
}
.list-content-1 li {
	padding-left: 1.375rem;
	position: relative;
}
.list-content-1 li::before {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	font-family: FontAwesome;
	content: "\f00c";
}

.bullet-primary li::before {
	color: #95c41f;
}
.bullet-gray-light li::before {
	color: #828f95;
}

.li-mb-1 li:not(:last-child) {
	margin-bottom: 0.25rem;
}
.li-mb-2 li:not(:last-child) {
	margin-bottom: 0.5rem;
}
.li-mb-3 li:not(:last-child) {
	margin-bottom: 1rem;
}


/*-----------------------
Others
-------------------------*/
.lead {
	font-size: 1.125rem;
	font-weight: inherit;
}

.card-radius-0,
.card-radius-0 .card-header:first-child,
.card-radius-0 .card-img {
	border-radius: 0;
}

.z-index-2 {
	z-index: 2;
}
.z-index-3 {
	z-index: 3;
}

.small,
small {
	font-weight: inherit;
}

[class*="price-"] .p-col {
	padding-left: 0.063rem;
	padding-right: 0.063rem;
}

.line-through {
	position: relative;
	overflow: hidden;
}
.line-through .line-holder {
	display: inline-block;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: relative;
}
.line-through .line-holder::before,
.line-through .line-holder::after {
	position:absolute;
	display: block;
    top: 50%;
	width: 1920px;
	height: 1px;
	background-color: #c8ced3;
	content: "";
}
.line-through .line-holder::before {
	right: 100%;
}
.line-through .line-holder::after {
	left: 100%;
}
.line-through .circle {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #c8ced3;
	border-radius: 50%;
}


/*-----------------------
Footer
-------------------------*/
.footer-content {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	color: #a9aeb6;
	font-size: 1rem;
	background-color: #2d2d2e;
}
.footer-content a {
	color: inherit;
	text-decoration: none;
}
.footer-content a:hover,
.footer-content a:focus {
	color: #fff;
	text-decoration: underline;
}
.footer-content hr {
	border-top-color: #4b4c4f;
}
.footer-content .nav-footer .nav-link {
	text-decoration: none;
	position: relative;
}
.footer-content .nav-footer .nav-link:focus,
.footer-content .nav-footer .nav-link:hover {
	text-decoration: underline;
}
@media (max-width: 767.98px) {
	.footer-content .nav-footer .nav-item:not(:last-child) {
		margin-bottom: 1rem;
	}
	.footer-content .nav-footer .nav-item .nav-link {
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.02);
		-webkit-border-radius: 0.25rem;
		/*border-radius: 0.25rem;*/
		border-radius: 1.875rem;
	}
	.footer-content .nav-footer .nav-item .nav-link:focus,
	.footer-content .nav-footer .nav-item .nav-link:hover {
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.05);
	}
	.footer-content .copyright {
		text-align: center;
	}
}
/*@media (min-width: 768px) and (max-width: 991.98px) {
	.footer-content .nav-footer .nav-item:not(:last-child) {
		border-bottom: 1px solid rgba(255, 255, 255, .05);
	}
	.footer-content .nav-footer .nav-link::before {
		position: absolute;
		display: block;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0;
		font-family: FontAwesome;
		content: "\f105";
	}
}*/
@media (min-width: 768px) {
	.footer-content {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
	}
	.footer-content .nav-footer .nav-item:not(:first-child) {
		padding-left: 0.625rem;
	}
	.footer-content .nav-footer .nav-item:not(:last-child) {
		padding-right: 0.625rem;
		border-right: 1px solid #a9aeb6;
	}
	.footer-content .nav-footer .nav-link {
		padding: 0;
	}
}
@media (min-width: 1200px) {
}


/*-----------------------
FORMS
-------------------------*/
.form-control {
	font-family: 'ProximaNova-Light', Arial, sans-serif;
	border-color: #cecece;
}
.form-control:focus {
	border-color: #ec7f80;
	box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.25);
}

.custom-select {
	font-family: 'ProximaNova-Light', Arial, sans-serif;
	font-weight: inherit;
	/*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;*/
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='rgb(73, 80, 87)' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 13px;
	background-color: #fff;
	border-color: #cecece;
}
.custom-select:focus {
	border-color: #ec7f80;
	box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.25);
}

.form-control,
.custom-select,
.custom-control-label::before {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.was-validated .custom-select:valid, 
.custom-select.is-valid {
	/*border-color: #28a745;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);*/
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23343a40' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 13px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .custom-select:invalid, 
.custom-select.is-invalid {
	/*border-color: #dc3545;	
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);*/
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23343a40' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 13px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


/*-----------------------
FORMS Material
-------------------------*/
.form-material .form-control,
.form-material .custom-select {	
	border-width: 0 0 1px 0;
	border-color: #cecece;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
}
.form-material .form-control:focus,
.form-material .custom-select:focus {
	border-color: #ec7f80;
}
.form-material .custom-select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='rgb(162, 167, 190)' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3E%3C/svg%3E");
}


/*-----------------------
Forms: radio + checkbox
-------------------------*/
.custom-control {
	/*min-height: 1.5rem;
	padding-left: 1.5rem;*/	
	padding-left: 1.875rem;
}
.custom-control-inline {
	/*margin-right: 1rem;*/
}
.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #95c41f;
	background-color: #95c41f;
}
.custom-control-input:focus ~ .custom-control-label::before {
	/*box-shadow: 0 0 0 0.2rem rgba(149, 196, 31, 0.25);*/
	box-shadow: none;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	/*border-color: #80bdff;*/
	border-color: #adb5bd;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	color: #fff;
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}
.custom-control-input:disabled ~ .custom-control-label {
	color: #6c757d;
}
.custom-control-input:disabled ~ .custom-control-label::before {
	background-color: #e9ecef;
}
.custom-control-label::before {
	/*top: 0.25rem;
	left: -1.5rem;
	width: 1rem;
	height: 1rem;*/
	top: 0.063rem;
	left: -1.875rem;
	width: 1.375rem;
	height: 1.375rem;
	/*background-color: #fff;
	border: #adb5bd solid 1px;*/	
}
.custom-control-label::after {
	/*top: 0.25rem;
	left: -1.5rem;
	width: 1rem;
	height: 1rem;*/
	top: 0.063rem;
	left: -1.875rem;
	width: 1.375rem;
	height: 1.375rem;
	/*background: no-repeat 50% / 50% 50%;*/	
}

.custom-checkbox .custom-control-label::before {
	/*border-radius: 0.25rem;*/
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");*/
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'%3e%3cpath fill='rgb(255, 255, 255)' d='M16.074,0.002 C16.470,-0.005 16.803,0.001 17.075,0.122 C17.703,0.402 18.286,1.475 17.846,2.357 C17.637,2.775 17.231,3.073 16.921,3.394 C16.305,4.032 15.689,4.671 15.072,5.309 C13.043,7.410 11.014,9.512 8.986,11.613 C8.523,12.092 8.061,12.571 7.599,13.050 C7.343,13.315 7.126,13.627 6.790,13.808 C6.577,13.922 6.126,14.066 5.750,13.968 C4.970,13.764 4.483,13.036 4.016,12.491 C3.682,12.172 3.348,11.853 3.014,11.534 C2.438,10.935 1.902,10.291 1.319,9.698 C0.950,9.322 0.481,9.008 0.202,8.541 C-0.158,7.938 0.012,7.071 0.356,6.586 C0.698,6.104 1.728,5.826 2.360,6.227 C2.880,6.557 3.283,7.143 3.708,7.583 C4.491,8.381 5.275,9.180 6.058,9.978 C6.096,9.964 6.135,9.951 6.173,9.938 C6.294,9.590 6.742,9.309 6.982,9.060 C7.624,8.395 8.266,7.730 8.908,7.065 C11.027,4.857 13.146,2.649 15.265,0.441 C15.498,0.260 15.851,0.182 16.074,0.002 Z'/%3e%3c/svg%3e");
	background-size: 55% 55%;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	border-color: #95c41f;
	background-color: #95c41f;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");*/
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: rgba(149, 196, 31, 0.5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
	background-color: rgba(149, 196, 31, 0.5);
}

.custom-radio .custom-control-label::before {
	border-radius: 50%;
	/*-webkit-transform: scale(0);
	transform: scale(0);*/
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: transparent;
	border-color: #95c41f;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");*/
	background-image: none;
	background-color: #95c41f;
	border-radius: 50%;
	-webkit-transform: scale(0.55);
	transform: scale(0.55);
}
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: rgba(149, 196, 31, 0.5);
}

/*.was-validated .custom-control-input:valid ~ .custom-control-label, 
.custom-control-input.is-valid ~ .custom-control-label {
	color: #28a745;
}
.was-validated .custom-control-input:valid ~ .custom-control-label::before, 
.custom-control-input.is-valid ~ .custom-control-label::before {
	border-color: #28a745;
}*/
/*.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, 
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
	border-color: #34ce57;
	background-color: #34ce57;
}*/
.was-validated .custom-radio .custom-control-input:valid:checked ~ .custom-control-label::before, 
.custom-radio .custom-control-input.is-valid:checked ~ .custom-control-label::before {
	border-color: #28a745;
	background-color: transparent;
}
.was-validated .custom-radio .custom-control-input:valid:checked ~ .custom-control-label::after, 
.custom-radio .custom-control-input.is-valid:checked ~ .custom-control-label::after {	
	background-color: #28a745;
}
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, 
.custom-control-input.is-valid:focus ~ .custom-control-label::before {
	/*box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);*/
	box-shadow: none;
}
/*.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, 
.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #28a745;
}
.was-validated .custom-file-input:valid ~ .custom-file-label, 
.custom-file-input.is-valid ~ .custom-file-label {
	border-color: #28a745;
}*/

/*.was-validated .custom-control-input:invalid ~ .custom-control-label, 
.custom-control-input.is-invalid ~ .custom-control-label {
	color: #dc3545;
}
.was-validated .custom-control-input:invalid ~ .custom-control-label::before, 
.custom-control-input.is-invalid ~ .custom-control-label::before {
	border-color: #dc3545;
}
.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, 
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
	border-color: #e4606d;
	background-color: #e4606d;
}*/
.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, 
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
	/*box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);*/
	box-shadow: none;
}
/*.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, 
.custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #dc3545;
}*/


/*-----------------------
FORMS: Floating Labels
-------------------------*/
.floating-labels .form-group {
	margin-bottom: 1.375rem;
	position: relative;
}
.floating-labels .label-floating {
	position: absolute;
	top: 0;
    left: 0;
    cursor: text;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	pointer-events: none;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
	z-index: 2;
}
.floating-labels .label-floating.focused {
	padding-left: 0;
	/*color: #007bff;*/
    font-size: 0.875rem;
	/*-webkit-transform: translateY(-70%);
    transform: translateY(-70%);*/
	-webkit-transform: translateY(-76%);
    transform: translateY(-76%);
	opacity: 0.8;
}
.floating-labels .label-floating-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
}
.floating-labels .label-floating-sm.focused {
	padding-left: 0;
    font-size: 0.75rem;
}
.floating-labels .label-floating-lg {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
}
.floating-labels .label-floating-lg.focused {
	padding-left: 0;
	font-size: 1rem;	
}
@media (min-width: 576px) {
	.floating-labels .form-group {
		margin-bottom: 1.563rem;
	}
}


/*-----------------------
BUTTONS
-------------------------*/
.btn {
	position: relative;
}

.btn-rounded,
.form-control-rounded {
	border-radius: 1.875rem!important;
}

.btn-xl,
.btn-group-xl > .btn {
	padding: 0.7rem 1rem;
	font-size: 1.438rem;	
	line-height: 1.5;
	border-radius: 0.4rem;
}

.btn-primary {
    color: #fff;
    background-color: #5878af;
    border-color: #5878af;
}
.btn-primary:hover {
    color: #fff;
    background-color: #486dae;
    border-color: #486dae;
}
.btn-primary:focus, 
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 120, 175, 0.5);
}
.btn-primary.disabled, 
.btn-primary:disabled {
    color: #fff;
    background-color: #5878af;
    border-color: #5878af;
}
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #486dae;
    border-color: #486dae;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 120, 175, 0.5);
}
.btn-primary:hover .fa-svg,
.btn-primary:not(:disabled):not(.disabled):active .fa-svg, 
.btn-primary:not(:disabled):not(.disabled).active .fa-svg, 
.show > .btn-primary.dropdown-toggle .fa-svg {
	fill: #fff !important;
}

.btn-secondary {
    color: #fff;
    background-color: #ec7f80;
    border-color: #ec7f80;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #ea6b6d;
    border-color: #ea6b6d;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #ec7f80;
    border-color: #ec7f80;
}
.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ea6b6d;
    border-color: #ea6b6d;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.5);
}
.btn-secondary:hover .fa-svg,
.btn-secondary:not(:disabled):not(.disabled):active .fa-svg, 
.btn-secondary:not(:disabled):not(.disabled).active .fa-svg, 
.show > .btn-secondary.dropdown-toggle .fa-svg {
	fill: #fff !important;
}

.btn-outline-primary {
    color: #5878af;
    border-color: #5878af;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #486dae;
    border-color: #486dae;
}
.btn-outline-primary:focus, 
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 120, 175, 0.5);
}
.btn-outline-primary.disabled, 
.btn-outline-primary:disabled {
    color: #5878af;
    background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #486dae;
    border-color: #486dae;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 120, 175, 0.5);
}
.btn-outline-primary:hover .fa-svg,
.btn-outline-primary:not(:disabled):not(.disabled):active .fa-svg, 
.btn-outline-primary:not(:disabled):not(.disabled).active .fa-svg, 
.show > .btn-outline-primary.dropdown-toggle .fa-svg {
	fill: #fff !important;
}

.btn-outline-secondary {
    color: #ec7f80;
    border-color: #ec7f80;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ea6b6d;
    border-color: #ea6b6d;
}
.btn-outline-secondary:focus, 
.btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.5);
}
.btn-outline-secondary.disabled, 
.btn-outline-secondary:disabled {
	color: #ec7f80;
	background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ea6b6d;
    border-color: #ea6b6d;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(236, 127, 128, 0.5);
}
.btn-outline-secondary:hover .fa-svg,
.btn-outline-secondary:not(:disabled):not(.disabled):active .fa-svg, 
.btn-outline-secondary:not(:disabled):not(.disabled).active .fa-svg, 
.show > .btn-outline-secondary.dropdown-toggle .fa-svg {
	fill: #fff !important;
}


/*-----------------------
Modal
-------------------------*/
.modal-content {
	/*background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
  	border-radius: 0.3rem;*/
	border: 0;
	border-radius: 0;
}
.modal-header {
    /*padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;*/
	padding-right: calc(1rem + 2rem);
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	color: #fff;
	background-color: #222b4d;
}
.modal-header .close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	padding: 0;
	margin: 0;
	float: none;
	font-size: 1.375rem;
    font-weight: inherit;
	text-shadow: none;
	opacity: 1;
}
.modal-header .close .fa-svg {
	fill: #999;
}
.modal-header .close:hover {
	fill: #000;
}
.modal-footer {
    /*padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;*/
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/*-----------------------
Page Overlay
-------------------------*/
.page-overlay {
	position: fixed;    
    top: 0;
	left: 0;
	right: 0;
    bottom: 0;	
    background-color: rgba(0, 0, 0, 0.7);	
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	visibility: hidden;
	opacity: 0;
	z-index: 400;
}
.navbar-open .page-overlay {
	visibility: visible;
	opacity: 1;
}
@media (min-width: 992px) {
	.page-overlay {
		display: none;
	}
}


/*-----------------------
Margin
-------------------------*/
.mb-3,
.my-3 {
	/*margin-bottom: 16px;
	margin-bottom: 1rem !important;*/
}
.mb-4,
.my-4 {
	/*margin-bottom: 24px;
	margin-bottom: 1.5rem !important;*/
}
/*.mb-5,
.my-5 {
	margin-bottom: 48px;
	margin-bottom: 3rem !important;
}*/
.mb-5,
.my-5 {
	/*margin-bottom: 32px;*/
	margin-bottom: 2rem !important;
}
.mt-5,
.my-5 {	
	margin-top: 2rem !important;
}
.mb-6,
.my-6 {
	/*margin-bottom: 40px;*/
	margin-bottom: 2.5rem !important;
}
.mt-6,
.my-6 {	
	margin-top: 2.5rem !important;
}
.mb-7,
.my-7 {
	/*margin-bottom: 48px;*/
	margin-bottom: 3rem !important;
}
.mt-7,
.my-7 {
	margin-top: 3rem !important;
}
.mb-8,
.my-8 {
	/*margin-bottom: 56px;*/
	margin-bottom: 3.5rem !important;
}
.mt-8,
.my-8 {	
	margin-top: 3.5rem !important;
}
.mb-9,
.my-9 {
	/*margin-bottom: 64px;*/
	margin-bottom: 4rem !important;
}
.mt-9,
.my-9 {	
	margin-top: 4rem !important;
}
.mb-10,
.my-10 {
	/*margin-bottom: 72px;*/
	margin-bottom: 4.5rem !important;
}
.mt-10,
.my-10 {	
	margin-top: 4.5rem !important;
}
@media (min-width: 576px) {
	.mb-sm-5,
	.my-sm-5 {		
		margin-bottom: 2rem !important;
	}
	.mt-sm-5,
	.my-sm-5 {		
		margin-top: 2rem !important;
	}
	.mb-sm-6,
	.my-sm-6 {		
		margin-bottom: 2.5rem !important;
	}
	.mt-sm-6,
	.my-sm-6 {		
		margin-top: 2.5rem !important;
	}
	.mb-sm-7,
	.my-sm-7 {		
		margin-bottom: 3rem !important;
	}
	.mt-sm-7,
	.my-sm-7 {		
		margin-top: 3rem !important;
	}
	.mb-sm-8,
	.my-sm-8 {		
		margin-bottom: 3.5rem !important;
	}
	.mt-sm-8,
	.my-sm-8 {		
		margin-top: 3.5rem !important;
	}
	.mb-sm-9,
	.my-sm-9 {		
		margin-bottom: 4rem !important;
	}
	.mt-sm-9,
	.my-sm-9 {		
		margin-top: 4rem !important;
	}
	.mb-sm-10,
	.my-sm-10 {		
		margin-bottom: 4.5rem !important;
	}
	.mt-sm-10,
	.my-sm-10 {		
		margin-top: 4.5rem !important;
	}
}
@media (min-width: 768px) {
	.mb-md-5,
	.my-md-5 {		
		margin-bottom: 2rem !important;
	}
	.mt-md-5,
	.my-md-5 {		
		margin-top: 2rem !important;
	}
	.mb-md-6,
	.my-md-6 {		
		margin-bottom: 2.5rem !important;
	}
	.mt-md-6,
	.my-md-6 {		
		margin-top: 2.5rem !important;
	}
	.mb-md-7,
	.my-md-7 {		
		margin-bottom: 3rem !important;
	}
	.mt-md-7,
	.my-md-7 {		
		margin-top: 3rem !important;
	}
	.mb-md-8,
	.my-md-8 {		
		margin-bottom: 3.5rem !important;
	}
	.mt-md-8,
	.my-md-8 {		
		margin-top: 3.5rem !important;
	}
	.mb-md-9,
	.my-md-9 {		
		margin-bottom: 4rem !important;
	}
	.mt-md-9,
	.my-md-9 {		
		margin-top: 4rem !important;
	}
	.mb-md-10,
	.my-md-10 {		
		margin-bottom: 4.5rem !important;
	}
	.mt-md-10,
	.my-md-10 {		
		margin-top: 4.5rem !important;
	}
}
@media (min-width: 992px) {
	.mb-lg-5,
	.my-lg-5 {		
		margin-bottom: 2rem !important;
	}
	.mt-lg-5,
	.my-lg-5 {		
		margin-top: 2rem !important;
	}
	.mb-lg-6,
	.my-lg-6 {		
		margin-bottom: 2.5rem !important;
	}
	.mt-lg-6,
	.my-lg-6 {		
		margin-top: 2.5rem !important;
	}
	.mb-lg-7,
	.my-lg-7 {		
		margin-bottom: 3rem !important;
	}
	.mt-lg-7,
	.my-lg-7 {		
		margin-top: 3rem !important;
	}
	.mb-lg-8,
	.my-lg-8 {		
		margin-bottom: 3.5rem !important;
	}
	.mt-lg-8,
	.my-lg-8 {		
		margin-top: 3.5rem !important;
	}
	.mb-lg-9,
	.my-lg-9 {		
		margin-bottom: 4rem !important;
	}
	.mt-lg-9,
	.my-lg-9 {		
		margin-top: 4rem !important;
	}
	.mb-lg-10,
	.my-lg-10 {		
		margin-bottom: 4.5rem !important;
	}
	.mt-lg-10,
	.my-lg-10 {		
		margin-top: 4.5rem !important;
	}
}
@media (min-width: 1200px) {
	.mb-xl-5,
	.my-xl-5 {		
		margin-bottom: 2rem !important;
	}
	.mt-xl-5,
	.my-xl-5 {		
		margin-top: 2rem !important;
	}
	.mb-xl-6,
	.my-xl-6 {		
		margin-bottom: 2.5rem !important;
	}
	.mt-xl-6,
	.my-xl-6 {		
		margin-top: 2.5rem !important;
	}
	.mb-xl-7,
	.my-xl-7 {		
		margin-bottom: 3rem !important;
	}
	.mt-xl-7,
	.my-xl-7 {		
		margin-top: 3rem !important;
	}
	.mb-xl-8,
	.my-xl-8 {		
		margin-bottom: 3.5rem !important;
	}
	.mt-xl-8,
	.my-xl-8 {		
		margin-top: 3.5rem !important;
	}
	.mb-xl-9,
	.my-xl-9 {		
		margin-bottom: 4rem !important;
	}
	.mt-xl-9,
	.my-xl-9 {		
		margin-top: 4rem !important;
	}
	.mb-xl-10,
	.my-xl-10 {		
		margin-bottom: 4.5rem !important;
	}
	.mt-xl-10,
	.my-xl-10 {		
		margin-top: 4.5rem !important;
	}
}


/*-----------------------
Custom Icons SVG
-------------------------*/
.fa-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: #333;
    font-size: inherit;
	vertical-align: -0.125em;	
	transition: fill 0.15s ease-in-out;
	-webkit-transition: fill 0.15s ease-in-out;
}
.fa-svg-w-10 {
	width: 0.625em;
}
.fa-svg-w-12 {
	width: 0.75em;
}
.fa-svg-w-14 {
	width: 0.875em;
}
.fa-svg-w-15 {
	width: 0.9375em;
}
.fa-svg-w-16 {
	width: 1em;
}
.fa-svg-w-17 {
	width: 1.063em;
}
.fa-svg-w-18 {
	width: 1.125em;
}
.fa-svg-w-19 {
	width: 1.188em;
}
.fa-svg-w-20 {
	width: 1.25em;
}
.fa-svg-w-21 {
	width: 1.313em;
}
.fa-svg-w-22 {
	width: 1.375em;
}
.fa-svg-w-24 {
	width: 1.5em;
}
.fa-svg-w-30 {
	width: 1.875em;
}


/*-----------------------
Fonts Size
-------------------------*/
.font-22 {
	font-size: 1.313rem;
}
.font-24 {
	font-size: 1.375rem;
}
.font-26 {
	font-size: 1.438rem;
}
.font-28 {
	font-size: 1.5rem;
}
.font-30 {
	font-size: 1.563rem;
}
.font-32 {
	font-size: 1.625rem;
}
.font-34 {
	font-size: 1.688rem;
}
.font-36 {
	font-size: 1.75rem;
}
.font-38 {
    font-size: 1.813rem;
}
.font-40 {
    font-size: 1.875rem;
}
.font-42 {
    font-size: 1.938rem;
}
.font-44 {
    font-size: 2rem;
}
.font-46 {
    font-size: 2.063rem;
}
.font-48 {
    font-size: 2.125rem;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .font-30 {
        font-size: 1.625rem;
    }
    .font-32 {
        font-size: 1.75rem;
    }
    .font-34 {
        font-size: 1.875rem;
    }
    .font-36 {
        font-size: 2rem;
    }    
	.font-38 {
        font-size: 2.125rem;
    }
    .font-40 {
        font-size: 2.25rem;
    }
    .font-42 {
        font-size: 2.375rem;
    }
    .font-44 {
        font-size: 2.5rem;
    }
    .font-46 {
        font-size: 2.625rem;
    }
    .font-48 {
        font-size: 2.75rem;
    }
}
@media (min-width: 992px) {
    .font-28 {
        font-size: 1.625rem;
    }
    .font-30 {
        font-size: 1.75rem;
    }
    .font-32 {
        font-size: 1.875rem;
    }
    .font-34 {
        font-size: 2rem;
    }
    .font-36 {
        font-size: 2.125rem;
    }
    .font-38 {
        font-size: 2.25rem;
    }
	.font-40 {
        font-size: 2.375rem;
    }
	.font-42 {
        font-size: 2.5rem;
    }
	.font-44 {
        font-size: 2.625rem;
    }
	.font-46 {
        font-size: 2.75rem;
    }
	.font-48 {
        font-size: 2.875rem;
    }
}
@media (min-width: 1200px) {
	.font-22 {
        font-size: 1.375rem;
    }
    .font-24 {
        font-size: 1.5rem;
    }
    .font-26 {
        font-size: 1.625rem;
    }
    .font-28 {
        font-size: 1.75rem;
    }
    .font-30 {
        font-size: 1.875rem;
    }
    .font-32 {
        font-size: 2rem;
    }
    .font-34 {
        font-size: 2.125rem;
    }
    .font-36 {
        font-size: 2.25rem;
    }
	.font-38 {
        font-size: 2.375rem;
    }
	.font-40 {
        font-size: 2.5rem;
    }
	.font-42 {
        font-size: 2.625rem;
    }
	.font-44 {
        font-size: 2.75rem;
    }
	.font-46 {
        font-size: 2.875rem;
    }
	.font-48 {
        font-size: 3rem;
    }
}


/*-----------------------
Fonts General
-------------------------*/
strong,
.font-weight-bold {
	font-family: 'ProximaNova-Bold', Arial, sans-serif;
	font-weight: 400;
}
.font-weight-thin {
	font-family: 'ProximaNova-Thin', Arial, sans-serif;
}
.font-weight-light {
	font-family: 'ProximaNova-Light', Arial, sans-serif;
}
.font-weight-thin {
	font-family: 'ProximaNova-Thin', Arial, sans-serif;
}
.font-weight-regular {
	font-family: 'ProximaNova-Regular', Arial, sans-serif;
}
.font-weight-semi-bold {
	font-family: 'ProximaNova-Semibold', Arial, sans-serif;
}
.font-weight-extra-bold {
	font-family: 'ProximaNova-Extrabold', Arial, sans-serif;
}
.font-weight-black {
	font-family: 'ProximaNova-Black', Arial, sans-serif;
}


/*-----------------------
Fonts Asap
-------------------------*/
@font-face 
{
    font-family: 'ProximaNova-Thin';
    src: url('../fonts/proxima-nova/ProximaNova-Thin.woff') format('woff'),
		 url('../fonts/proxima-nova/ProximaNova-Thin.woff2') format('woff2');
    font-weight: 100;
	font-style: normal;
}
@font-face 
{
    font-family: 'ProximaNova-Light';
    src: url('../fonts/proxima-nova/ProximaNova-Light.woff') format('woff'),
		 url('../fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2');
    font-weight: 300;
	font-style: normal;
}
@font-face 
{
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2');
    font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff'),  
		 url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face 
{
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff2');
    font-weight: 700;
	font-style: normal;
}
@font-face 
{
    font-family: 'ProximaNova-Extrabold';
    src: url('../fonts/proxima-nova/ProximaNova-Extrabold.woff') format('woff'),
		 url('../fonts/proxima-nova/ProximaNova-Extrabold.woff2') format('woff2');
    font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Black';
	src: url('../fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),  
		 url('../fonts/proxima-nova/ProximaNova-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}


/*-----------------------
Owl Carousel v2.3.4
Copyright 2013-2018 David Deutsch
Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
-------------------------*/
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


/* --------------------------
US MAP 
-----------------------------*/
.map-container{
	overflow: auto;
}
.state{
	fill: none;
	stroke: #898d95;
	stroke-width: 1;
}
.state:hover{
 fill-opacity:0.8;
}
#tooltip {   
	position: absolute;           
	text-align: left;
	padding: 10px;             
	margin: 10px;
	background: lightsteelblue;   
	border: 1px;      
	border-radius: 2px;           
	pointer-events: auto;         
}
#tooltip h4{
	margin:0;
	font-size:15px;
	font-weight: 900;
	
}
#tooltip{
	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	font-size:13px;
	width:auto;
	color:white;
	opacity:0;
	z-index: 99999999999999999;
	width: 145px
}
#tooltip table{
	table-layout:fixed;
	margin: 5px 0;
}

#tooltip .fa-svg{
	fill: white;

}
text{
	font-size: 12px;
	font-weight: 300;
	fill: #898d95;
	/* stroke-width: 0.5; */

}
.label-DC{
	display: none
}
.zillowoffers,.opendoor,.knock,.offerpad {
	stroke:white;
	stroke-width: 1;
}
.zillowoffers {
	fill: #d5595b;	
}
.opendoor {
	fill: #1884e7;
}
.knock{
	fill: #505978;
}
.offerpad {
	fill: #63b196;
}

.value-opendoor,.value-zillowoffers,.value-knock,.value-offerpad{
	fill: white;
 font-size: 11px;
}
.legend-labels{
	fill: white
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#statesvg{
		width: 940px;
		height: 600px;
	}
}
@media (min-width: 992px){
	#tooltip {             
		pointer-events: none;   
		width: auto      
	}
}